body{
    background-color: #5ed7ff;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container{
    /* max-width: fit-content;
    min-width: 240px; */
    margin: 0 auto;
    padding: 30px;
    /* background-color: #f5f090; */
}

.card{
    min-width: 400px;
    max-width: fit-content;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000033;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 5px 5px 10px 3px #3dc3fc;
    -moz-box-shadow: 5px 5px 10px 3px #3dc3fc;
    box-shadow: 5px 5px 10px 3px #3dc3fc;
    overflow: hidden;
}

.btn{
   cursor: pointer;
}

.disabled{
   cursor: not-allowed;
}

   /* loader */

   .spinner {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0 auto;
 }
 
 .spinner::before,
 .spinner::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    animation: spinner-b4c8mmsm 0.5s backwards, spinner-49opz7sm 1.25s 0.5s infinite ease;
    border: 4px solid #474bff;
    border-radius: 50%;
    box-shadow: 0 -24px 0 -4px #474bff;
    position: absolute;
 }
 
 .spinner::after {
    animation-delay: 0s, 1.25s;
 }
 
 @keyframes spinner-b4c8mmsm {
    from {
       box-shadow: 0 0 0 -4px #474bff;
    }
 }
 
 @keyframes spinner-49opz7sm {
    to {
       transform: rotate(360deg);
    }
 }
 
 

 .hidden{
    display: none;
 }

.card{
      min-width: 400px;
      max-width: fit-content;
      padding: 40px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px #00000033;
      margin: 0 auto;
      position: relative;
      -webkit-box-shadow: 5px 5px 10px 3px #3dc3fc;
      -moz-box-shadow: 5px 5px 10px 3px #3dc3fc;
      box-shadow: 5px 5px 10px 3px #3dc3fc;
      overflow: hidden;
}

#tries{
   font-size: 20px;
   font-weight: 600;
   color: #474bff;
}

#tryP{
   position: absolute;
   top: 10px;
   right: 10px;
   margin-bottom: 10px;
}

.emoji{
   font-size: 40px;
   margin-bottom: 20px;
}

.btn{
   cursor: pointer;
   background: linear-gradient(to right,#196BCA ,#6433E0);
   background-color: #196BCA;
   color: #fff;
   font-family: Trebuchet MS;
   font-size: 18px;
   font-weight: 800;
   font-style: normal;
   text-decoration: none;
   padding: 12px 16px;
   border: 0px solid #000;
   border-radius: 6px;
   display: inline-block;
   margin: 4px 2px;
}

.btn:hover{
   background: linear-gradient(to right,#5482d0 ,#7d5ee3);
   background-color: #5482d0;
}

.btn:active{
   transform: scale(0.95);
}

.btn:disabled,
.btn[disabled]{
   background: linear-gradient(to right,#a4a4a4 ,#000000);
   background-color: #a4a4a4;
}

.btn:disabled:hover{
   background: linear-gradient(to right,#a4a4a4 ,#000000);
   background-color: #a4a4a4;
}

.btn:disabled:active{
   transform: scale(1);
}

.inputBtns, .guessing{
   margin-bottom: 20px;
}

#guess{
   font-size: 20px;
   font-weight: 600;
   color: #474bff;
   letter-spacing: 1px;
}

#result{
   font-size: 20px;
   font-weight: 600;
   color: #fff;
   letter-spacing: 3px;
   padding: 10px 0;
   border-radius: 10px;
}

.win{
   background: linear-gradient(to right,#19ca4e ,#33e081);
}

.lose{
   background: linear-gradient(to right,#ca1919 ,#e03333);
}

#next-btn{
   margin-top: 20px;
   background: linear-gradient(to right,#3b96ff ,#000000);
   background-color: #3b96ff;
   color: #ffffff;
   font-family: Trebuchet MS;
   font-size: 18px;
   font-weight: 800;
   font-style: normal;
   text-decoration: none;
   padding: 12px 70px;
   border: 0px solid #000;
   border-radius: 6px;
   display: inline-block;
   cursor: pointer;
}

#next-btn:hover{
   background: linear-gradient(to right,#62a4ff ,#515151);
   background-color: #62a4ff;
}

#next-btn:active{
   transform: scale(0.95);
}
