body{
    background: linear-gradient(45deg, #45abff, #ecff60);
    font-size: 20px;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
}

.container{
    margin: 0 auto;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
}

.card{
    background: linear-gradient(45deg, #9fbeff, #ffffff);
    padding: 0 24px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #a43dff33;
    margin: 10px;
    min-width: 70px;
}