*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.headicon{
    margin-bottom: -4px;
}

h1{
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
    color: white;
}

p{
    text-align: end;
    font-size: 12px;
    margin-right: 4rem;
}

p.namemark{
    margin: 4rem;
    color: rgb(255, 255, 255);
    align-self: flex-end;
    font-size: 0.9em;
}

.clock-div{
    /* position: relative; */
    background: url(./../assets/clock.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 360px;
    border: 10px solid #2e2e2e;
    border-radius: 50%;
    box-shadow: 0 -20px 20px rgba(255, 255,255,0.05),
    inset 0 -20px 20px rgba(255, 255,255,0.05),
    0 20px 20px rgba(0,0,0,0.3),
    inset 0 20px 20px rgba(0,0,0,0.3);
}

.clock-div::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 100;
}

.clock-div .hour,.clock-div .minute,.clock-div .second{
    position: absolute;
}

.clock-div .hour,.hr{
    width: 160px;
    height: 160px;
}

.clock-div .minute,.min{
    width: 190px;
    height: 190px;
}

.clock-div .second,.sec{
    width: 230px;
    height: 230px;
}

.hr,.min,.sec{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    /* align-items: center; */
}

.hr::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: rgb(253, 100, 100);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.min::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 120px;
    background-color: rgb(50, 132, 255);
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sec::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

/* .clock-mid{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 100;
    top: 48%;
    left: 48%;
}

.hour .hr{
    position: absolute;
    background-color: red;
    width: 10px;
    height: 80px;
    border-radius: 10px;
    top: 25%;
    left: 49.01%;
}

.minute .min{
    position: absolute;
    background-color: rgb(255, 214, 181);
    width: 5px;
    height: 120px;
    border-radius: 10px;
    top: 25%;
    left: 49.6%;

}

.second .sec{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 2px;
    height: 170px;
    border-radius: 10px;
    top: 20%;
    left: 50%;
} */